<div class='page-header'>
  <h3><%= @location.name %></h3>
</div>

<div class='row'>
  <div class='col-lg-4'>
    <h3>Address</h3>
    <h4><%= @location.address %></h4>
  </div>

  <div class='col-lg-4'>
    <%= render 'google_map', location: @location %>
    <h4>Your guess: <%= @location.weather %></h4>
    <h4>Actual weather:</h4>
    <%= render 'weather_map', location: @location %>
    <br>
    <<%= render 'weather_forecast', location: @location %>
  </div>
</div>

<div class='well-sm'>
  <%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-info' %> |
  <%= link_to 'Go Back', locations_path %> |
  <%= link_to 'Weather', weather_path %>
</div>
